.MainContainer {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-color: #000000;
  color: white;
}
.ContainerEyes {
  animation: show 120s ease forwards;
}

@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
