.ContactContainer {
  background-color: #0f0f0f;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 100vw;
  height: 260px;
  gap: 10px;
  margin: 0px;
  overflow: hidden;
}
.ContactTitle {
  font-family: "Bebas Neue", sans-serif;
  font-size: clamp(20px, 3vw, 4rem);
  margin-bottom: 5px;
  margin-left: 30px;
  cursor: default;
  color: rgb(179, 15, 15);
}

.IconEmail,
.IconTelephone {
  width: 25px;
  height: 25px;
  margin-left: 30px;
  filter: invert(100);
}
.TelephoneNumberContainer,
.EmailContainer {
  display: flex;
  align-items: center;

  border-radius: 5px;
  width: 400px;
  margin-left: 15px;
  gap: 10px;
}
p {
  margin: 10px;
}
@media screen and (width < 400px) {
  .TelephoneNumberContainer,
  .EmailContainer {
    width: 300px !important;
  }
  .IconEmail,
  .IconTelephone {
    width: 25px;
    height: 25px;
    margin-left: 20px;
  }
  p {
    font-size: 0.7rem !important;
  }
}
